*{
    color:whitesmoke
}

body{
    background-color: black;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navMenu{
    display: flex;
    gap:10px;
    border: 3px white solid;
    padding: 10px 8px;
    margin: 0rem 2rem;
    border-radius: 0.6rem;
}
.navItem{
    list-style: none;
    text-transform: none;
    padding: 10px 6px;
    font-weight: 900;
    font-size: larger;
    :hover{
        background-color: gray;
    }
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
    img{

        width: 200px;
        height: 200px;
    }
}