body {
    background-color: antiquewhite;
    color: cadetblue;
  }

.box {
    border: 2px solid brown;
    width: 200px;
    padding: 10px;
    margin: 10px;
  }
  .navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkgreen;
    overflow: hidden;
  }
  
  .navItem {
    float: left;
  }
  
  .navItem a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    text-align: center;
  }
  
  .container{
    display: flex;
    flex-wrap: wrap;
  }
  .card{
    margin: 10px;
  }